body{
    background-color: black;
}

a{
    font-size: 20px;
    color: coral;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.main_title{
    font-size: 125px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: burlywood;
    font-style:inherit;
    text-align: center;
}

.link{
    font-size: 20px;
    color: coral;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

.vid_name{
    font-size: 50px;
    color: wheat;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left: 10%;
}

.videos {
    padding: 10%;
}

.vid_date{
    font-size: 15px;
    color: wheat;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left: 10%;
}

.videoplayer{
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}

::selection{
    background-color: coral;
    color: black;
}

.progress {
    background: coral;
}